node-red-setup/node-red-flows.json
[{"id":"b2b7eed6.9daf4","type":"http request","z":"646afbeb.2d0f2c","name":"Baggage Cloudant DB","method":"GET","ret":"obj","url":"https://389c0932-8ba8-406b-8730-ff8b76623111-bluemix.cloudant.com/baggage/{{{topic}}}","tls":"","x":340,"y":84,"wires":[["f9113c29.6caa9","acbde2ed.8ff84","4b4fe063.6593","b647b34e.a53758","14b2029e.814485","158b1345.100565"]]},{"id":"f9113c29.6caa9","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Height","func":"msg.payload = msg.payload['height'].toFixed(2);\nmsg.topic = \"Height\";\n return msg;","outputs":"1","noerr":0,"x":568,"y":30,"wires":[["dbc36a7c.d7ff7"]]},{"id":"acbde2ed.8ff84","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Width","func":"msg.payload = msg.payload['width'].toFixed(2);\n return msg;","outputs":"1","noerr":0,"x":571,"y":82,"wires":[["5e4bcc0a.d571cc"]]},{"id":"4b4fe063.6593","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Depth","func":"msg.payload = msg.payload['depth'].toFixed(2);\n return msg;","outputs":"1","noerr":0,"x":570,"y":131,"wires":[["81e95fbe.99c08"]]},{"id":"dbc36a7c.d7ff7","type":"ui_gauge","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"HEIGHT (cm)","group":"Real-time Size","order":1,"format":"{{value}}","min":0,"max":"60","x":789,"y":29,"wires":[]},{"id":"5e4bcc0a.d571cc","type":"ui_gauge","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"WIDTH (cm)","group":"Real-time Size","order":"2","format":"{{value}}","min":0,"max":"50","x":785,"y":80,"wires":[]},{"id":"81e95fbe.99c08","type":"ui_gauge","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"DEPTH (cm)","group":"Real-time Size","order":"3","format":"{{value}}","min":0,"max":"28","x":788,"y":130,"wires":[]},{"id":"98577679.e942d","type":"http request","z":"646afbeb.2d0f2c","name":"Retrieve Index Value","method":"GET","ret":"obj","url":"https://389c0932-8ba8-406b-8730-ff8b76623111-bluemix.cloudant.com/baggage/0","tls":"","x":312.66666412353516,"y":297.00000762939453,"wires":[["9feed33e.c55f"]]},{"id":"d3bb67b0.beac68","type":"ui_text","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"Out of...","group":"Baggages","order":"2","format":"{{msg.payload}}","x":654.0000152587891,"y":209.99999237060547,"wires":[]},{"id":"57396a33.bd1f84","type":"function","z":"646afbeb.2d0f2c","name":"Index Count","func":"// Sending the Cloudant document _id to retrieve\n// the size of the latest baggage\n// It's passed as the msg.topic.\n\nmsg.topic = parseInt(msg.payload['count'])\n\nreturn msg;","outputs":"1","noerr":0,"x":244,"y":225,"wires":[["b2b7eed6.9daf4","cb5c4b1f.0006a8"]]},{"id":"9feed33e.c55f","type":"rbe","z":"646afbeb.2d0f2c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":98.66666412353516,"y":227.33332633972168,"wires":[["57396a33.bd1f84"]]},{"id":"f15a4292.9b9188","type":"inject","z":"646afbeb.2d0f2c","name":"","topic":"0","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":117.22222137451172,"y":296.7777900695801,"wires":[["98577679.e942d"]]},{"id":"b647b34e.a53758","type":"debug","z":"646afbeb.2d0f2c","name":"","active":false,"console":"false","complete":"false","x":360,"y":137,"wires":[]},{"id":"cb5c4b1f.0006a8","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Count","func":"msg.payload = msg.payload['count'];\n return msg;","outputs":"1","noerr":0,"x":428,"y":225,"wires":[["883b0307.98ce38","d3bb67b0.beac68"]]},{"id":"883b0307.98ce38","type":"debug","z":"646afbeb.2d0f2c","name":"","active":false,"console":"false","complete":"false","x":652,"y":267,"wires":[]},{"id":"30b9abbd.1be3f4","type":"ui_template","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"Approved","group":"Baggages","order":"2","format":"<p style=\"text-align:center;\">\n<img src=\"https://avaxrent.com/upload/email/e.png\" width=\"80px\">\n<br/><br/>\nThe maximum baggage size is retrieved\nin real time, and compared with the\ndimensions of the submitted baggage.\n</p>","storeOutMessages":true,"fwdInMessages":true,"x":903.5000419616699,"y":512.7499961853027,"wires":[[]]},{"id":"14b2029e.814485","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Approved","func":"msg.payload = msg.payload['approved'];\n\nif(msg.payload === true){\n    msg.payload = \"BAGGAGE APPROVED!\";\n}\n\nelse\n    msg.payload = \"BAGGAGE REJECTED!\";\n    \nreturn msg;","outputs":"1","noerr":0,"x":471.00001525878906,"y":352,"wires":[["b415684d.a727d8","ce1334c8.68782","4495fefc.5141d8"]]},{"id":"b415684d.a727d8","type":"debug","z":"646afbeb.2d0f2c","name":"","active":false,"console":"false","complete":"false","x":683.0000152587891,"y":332,"wires":[]},{"id":"ce1334c8.68782","type":"ui_toast","z":"646afbeb.2d0f2c","name":"Approved?","x":684.0000457763672,"y":378,"wires":[]},{"id":"158b1345.100565","type":"function","z":"646afbeb.2d0f2c","name":"m3","func":"height = parseInt(msg.payload['height'])/100;\nwidth = parseInt(msg.payload['width'])/100;\ndepth = parseInt(msg.payload['depth'])/100;\n \nmsg.payload = (height*width*depth)*10;\n\nmsg.topic = \"m3\";\n\nreturn msg;","outputs":"1","noerr":0,"x":528.3967475891113,"y":585.1304588317871,"wires":[["668d6c8f.ed1bb4","c688a344.81b2e"]]},{"id":"c688a344.81b2e","type":"ui_chart","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"AVERAGE HEIGHT","group":"Average Size","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":"10","removeOlderUnit":"60","x":730.1358795166016,"y":548.1304588317871,"wires":[[],[]]},{"id":"668d6c8f.ed1bb4","type":"debug","z":"646afbeb.2d0f2c","name":"","active":true,"console":"false","complete":"true","x":719.7636299133301,"y":596.0870018005371,"wires":[]},{"id":"ced5b92e.9f10c8","type":"counter","z":"646afbeb.2d0f2c","name":"","init":"87","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":674.7554473876953,"y":429.3287925720215,"wires":[["4eacfb68.ec6a94","f42e1f15.5983e8"]]},{"id":"9569ecf0.870bc8","type":"ui_link","z":"646afbeb.2d0f2c","name":"Made with love","link":"https://github.com/chronoclast/NoSurPRICEs","icon":"favorite","order":1,"x":216.75543212890625,"y":22.1739501953125,"wires":[]},{"id":"6da0f70b.52e428","type":"ui_text","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"Approved:","group":"Baggages","order":1,"format":"{{msg.payload}}","x":926.7662887573242,"y":461.54351806640625,"wires":[]},{"id":"4495fefc.5141d8","type":"function","z":"646afbeb.2d0f2c","name":"","func":"\nif(msg.payload == \"BAGGAGE APPROVED!\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":539.7581672668457,"y":419.149471282959,"wires":[["ced5b92e.9f10c8"]]},{"id":"4eacfb68.ec6a94","type":"debug","z":"646afbeb.2d0f2c","name":"","active":true,"console":"false","complete":"count","x":890.760856628418,"y":404.56793212890625,"wires":[]},{"id":"f42e1f15.5983e8","type":"function","z":"646afbeb.2d0f2c","name":"","func":"msg.payload = msg.count;\nreturn msg;","outputs":1,"noerr":0,"x":783.7636032104492,"y":472.32611083984375,"wires":[["6da0f70b.52e428","30b9abbd.1be3f4"]]},{"id":"df9fdc32.6db06","type":"ui_tab","z":"","name":"No SurPRICEs | | | Real-time Hand Luggage Stats ","icon":"dashboard","order":"1"}]