node-red-setup/node-red-flows.json
[{"id":"b2b7eed6.9daf4","type":"http request","z":"646afbeb.2d0f2c","name":"Baggage Cloudant DB","method":"GET","ret":"obj","url":"https://389c0932-8ba8-406b-8730-ff8b76623111-bluemix.cloudant.com/baggage/{{{topic}}}","tls":"","x":340,"y":84,"wires":[["f9113c29.6caa9","acbde2ed.8ff84","4b4fe063.6593","b647b34e.a53758","14b2029e.814485"]]},{"id":"f9113c29.6caa9","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Height","func":"msg.payload = msg.payload['height'].toFixed(2);\n return msg;","outputs":"1","noerr":0,"x":568,"y":30,"wires":[["dbc36a7c.d7ff7"]]},{"id":"acbde2ed.8ff84","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Width","func":"msg.payload = msg.payload['width'].toFixed(2);\n return msg;","outputs":"1","noerr":0,"x":571,"y":82,"wires":[["5e4bcc0a.d571cc"]]},{"id":"4b4fe063.6593","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Depth","func":"msg.payload = msg.payload['depth'].toFixed(2);\n return msg;","outputs":"1","noerr":0,"x":570,"y":131,"wires":[["81e95fbe.99c08"]]},{"id":"dbc36a7c.d7ff7","type":"ui_gauge","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"Height (cm)","group":"Real-time Size","order":1,"format":"{{value}}","min":0,"max":"56","x":789,"y":29,"wires":[]},{"id":"5e4bcc0a.d571cc","type":"ui_gauge","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"Width (cm)","group":"Real-time Size","order":"2","format":"{{value}}","min":0,"max":"45","x":785,"y":80,"wires":[]},{"id":"81e95fbe.99c08","type":"ui_gauge","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"Depth (cm)","group":"Real-time Size","order":"3","format":"{{value}}","min":0,"max":"25","x":788,"y":130,"wires":[]},{"id":"98577679.e942d","type":"http request","z":"646afbeb.2d0f2c","name":"Retrieve Index Value","method":"GET","ret":"obj","url":"https://389c0932-8ba8-406b-8730-ff8b76623111-bluemix.cloudant.com/baggage/0","tls":"","x":312.66666412353516,"y":297.00000762939453,"wires":[["9feed33e.c55f"]]},{"id":"d3bb67b0.beac68","type":"ui_text","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"Baggage Count","group":"Index","order":1,"format":"{{msg.payload}}","x":659,"y":225,"wires":[]},{"id":"57396a33.bd1f84","type":"function","z":"646afbeb.2d0f2c","name":"Index Count","func":"// Sending the Cloudant document _id to retrieve\n// the size of the latest baggage\n// It's passed as the msg.topic.\n\nmsg.topic = parseInt(msg.payload['count'])\n\nreturn msg;","outputs":"1","noerr":0,"x":244,"y":225,"wires":[["b2b7eed6.9daf4","cb5c4b1f.0006a8"]]},{"id":"9feed33e.c55f","type":"rbe","z":"646afbeb.2d0f2c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":98.66666412353516,"y":227.33332633972168,"wires":[["57396a33.bd1f84"]]},{"id":"f15a4292.9b9188","type":"inject","z":"646afbeb.2d0f2c","name":"","topic":"0","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":117.22222137451172,"y":296.7777900695801,"wires":[["98577679.e942d"]]},{"id":"b647b34e.a53758","type":"debug","z":"646afbeb.2d0f2c","name":"","active":true,"console":"false","complete":"false","x":360,"y":137,"wires":[]},{"id":"cb5c4b1f.0006a8","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Count","func":"msg.payload = msg.payload['count'];\n return msg;","outputs":"1","noerr":0,"x":428,"y":225,"wires":[["883b0307.98ce38","d3bb67b0.beac68"]]},{"id":"883b0307.98ce38","type":"debug","z":"646afbeb.2d0f2c","name":"","active":true,"console":"false","complete":"false","x":652,"y":267,"wires":[]},{"id":"30b9abbd.1be3f4","type":"ui_template","z":"646afbeb.2d0f2c","tab":"df9fdc32.6db06","name":"","group":"Approved","order":1,"format":"<img src=\"https://avaxrent.com/upload/email/e.png\" width=\"100px\">\n","storeOutMessages":true,"fwdInMessages":true,"x":675,"y":548,"wires":[[]]},{"id":"14b2029e.814485","type":"function","z":"646afbeb.2d0f2c","name":"Baggage Approved","func":"msg.payload = msg.payload['approved'];\n\nif(msg.payload === true){\n    msg.payload = \"BAGGAGE APPROVED!\";\n}\n\nelse\n    msg.payload = \"BAGGAGE REJECTED!\";\n    \nreturn msg;","outputs":"1","noerr":0,"x":520,"y":401,"wires":[["b415684d.a727d8","ce1334c8.68782"]]},{"id":"b415684d.a727d8","type":"debug","z":"646afbeb.2d0f2c","name":"","active":true,"console":"false","complete":"false","x":757,"y":409,"wires":[]},{"id":"ce1334c8.68782","type":"ui_toast","z":"646afbeb.2d0f2c","name":"Approved?","x":466,"y":534,"wires":[]},{"id":"df9fdc32.6db06","type":"ui_tab","z":"","name":"No SurPRICEs | | | Real-time Hand Luggage Stats ","icon":"dashboard","order":"1"}]